*
	box-sizing: border-box 

body
	+reg 
	color: $text-color
	position: relative

a 
	cursor: pointer
	
img 
	max-width: 100%

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

.container 
	max-width: 1170px
	margin: 0 auto

@media (max-width: 1200px)
	.container 
		max-width: 960px
		width: 95%

@media (max-width: 991px)
		.container 
			max-width: 720px
			width: 95%

@media (max-width: 767px)
		.container 
			max-width: 540px
			width: 95%

@media (max-width: 575px)
		.container 
			max-width: 80%

@media (max-width: 550px)
		.container 
			max-width: 86%

@media (max-width: 415px)
		.container 
			max-width: 86%

@media (max-width: 320px)
		.container 
			max-width: 86%

	

		

.btn 
	background-color: $main-color
	padding: 18px 30px
	font-size: 13px
	border: none
	border-radius: 10px
	cursor: pointer
	outline: none
	+bold
	&:hover
		background-color: lighten($main-color, 10%)
		cursor: pointer

.section 
	padding: 77px 0 92px 0
	&-title
		color: $text-color
		+bold
		font-size: 30px
		line-height: 45px
		text-align: center
	&-subtitle 	
		color: #000000
		+reg
		font-size: 20px
		text-align: center


.input 
	width: 240px
	height: 65px
	border-radius: 10px
	border: 1px solid $input-line-color
	padding-left: 30px
	margin-bottom: 30px
	outline: none
	cursor: pointer
	&.invalid
		border: 1px solid red
	&:focus 		
		border: 1px solid $input-line-focus

.card 
	max-width: 370px
	display: flex
	flex-direction: column
	align-items: center
	padding-bottom: 45px
	border: 1px solid #e8e8e8
	&__image 
		margin-bottom: 37px
		max-width: 370px
		height: 260px
	&__title 
		margin-bottom: 30px
		color: #000000
		+reg
		font-size: 18px
		// line-height: 45px
	&__info-link
		display: inline-block
		position: relative 
		color: $text-color
		+bold
		font-size: 16px
		line-height: 18px
		text-decoration: none
		&:after 
			content: ''
			display: block
			position: absolute
			bottom: -4px
			left: 0
			width: 100%
			height: 3px
			background-color: $main-color
			z-index: -1
			transition: 0.2s

.circle 	
	min-width: 150px
	width: 20%
	display: flex
	flex-direction: column
	align-items: center
	&__border
		width: 100px
		height: 100px 
		margin-bottom: 26px
		border: 3px solid $main-color
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
	&__info 
		max-width: 151px
		color: #000000
		+reg
		font-size: 14px
		line-height: 20px

// == стили для валидация форм ==
.success
	border: 1px solid green

.form 
	position: relative	
#username-error 
	position: absolute 
	left: 0
	top: 68px 

#phone-error 
	position: absolute 
	left: 254px
	top: 68px 

#namemodal-error
	position: absolute 
	left: 0
	top: 68px

#phonemodal-error
	position: absolute 
	left: 0
	top: 164px

#usernamebrif-error
	position: absolute 
	left: 120px
	top: 64px
#phonebrif-error
	position: absolute 
	left: 120px
	top: 148px