.banner
	padding-top: 0
	padding-bottom: 43px
	&__title 
		width: 907px
		padding: 100px 0
		color: #000000
		+reg
		font-size: 32px
		line-height: 50px
		text-align: center
		&-bg 
			background-color: #ffc000
			display: flex
			justify-content: center
