.guarantee
	padding-top: 48px
	padding-bottom: 228px
	&__title 
		width: 645px
		margin: 0 auto
		margin-bottom: 90px
		+bold
		font-size: 30px
		line-height: 45px
		text-align: center
	&-block 
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 1070px
		margin: 0 auto
	&__item 
		width: 33.33%
		max-width: 270px
		&-one 
			max-width: 270px
		&-two 
			max-width: 290px
		&-three 
			max-width: 276px
		&-image	
			display: flex
			justify-content: center
			align-items: center
			width: 270px
			height: 360px
			border: 20px solid #f5f5f5
			background-color: #ffffff	
			margin: 0 auto
			margin-bottom: 37px
		&-text	
			width: 290px
			font-size: 18px
			margin: 0
			line-height: 24px	
			text-align: center
		// &-text .fix-margin 
		// 		margin-right: 2px

@media (max-width: 1200px)
@media (max-width: 768px)
@media (max-width: 415px)
	.guarantee
		padding-top: 31px
		padding-bottom: 228px
		&__title 
			width: 244px
			font-size: 18px
			+bold
			line-height: 21px
			margin-bottom: 49px
		&-block 
			flex-direction: column 
			align-items: center
		&__item
			width: 100%
			margin: 0
			&-text
				font-size: 14px
				line-height: 15px
				+bold
			&-image 
				margin: 0
			&-order
				&-1
					order: 1
					margin-bottom: 31px
				&-2
					order: 3
					margin-bottom: 28px
				&-3
					order: 5
					margin-bottom: 31px
				&-4
					order: 2
					margin-bottom: 44px
					line-height: 16px
					width: 100%
					max-width: 220px
				&-5
					order: 4
					margin-bottom: 44px
					line-height: 17px
					width: 100%
					max-width: 236px
				&-6
					order: 6
					margin-bottom: 31px
					line-height: 16px
					width: 100%
					max-width: 225px
		