a 
	cursor: pointer
img 
	max-width: 100%

.container 
	max-width: 1170px
	margin: 0 auto

@media (max-width: 1199px)
	.container 
		max-width: 960px
		width: 95%

@media (max-width: 991px)
		.container 
			max-width: 720px
			width: 95%

@media (max-width: 767px)
		.container 
			max-width: 540px
			width: 95%

@media (max-width: 575px)
		.container 
			max-width: 100%
	
		

.btn 
	background-color: $main-color
	color: #fff
	padding: 18px 30px
	font-size: 13px
	border: none
	border-radius: 10px
	cursor: pointer
