.header 
	margin: 8px 0
	display: flex
	justify-content: space-between
	align-items: center

	&-logo 
		width: 155px
	&-info 
		display: flex
		justify-content: space-between
		align-items: center

.info
	&-contacts 
		display: flex
		flex-direction: column
		text-align: right
	&-adress
		font-size: 13px
	&-phone
		display: inline-block
		font-size: 20px
		color: $text-color
		text-decoration: none
		margin-top: 9px
		+bold
	&-btn
		margin-left: 28px


@media (max-width: 767px)
	.info-contacts
		display: none

@media (max-width: 575px)
	.header 
		padding: 17px 0 18px 0
		margin: 0
		&-logo 
			width: 91px
			height: 44px
	.info-btn 
		display: flex
		justify-content: center
		align-items: center
		padding: 15px 26px 14px 26px
		font-size: 10px
		margin-left: 0
	.main-text__title 
		font-size: 24px
