a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
    width: 95%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
    width: 95%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
.btn {
  background-color: #ffd200;
  color: #fff;
  padding: 18px 30px;
  font-size: 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.header {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  width: 155px;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
.info-adress {
  font-size: 13px;
}
.info-phone {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  text-decoration: none;
  margin-top: 9px;
}
.info-btn {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .info-contacts {
    display: none;
  }
}
@media (max-width: 575px) {
  .header {
    padding: 16px 15px;
    margin: 0;
  }
  .header-logo {
    width: 91px;
  }

  .info-btn {
    padding: 14px 26px;
    font-size: 10px;
  }
}
body {
  font-family: sans-serif;
  color: #333333;
}
