@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
    width: 95%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
    width: 95%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 86%;
  }
}
@media (max-width: 415px) {
  .container {
    max-width: 86%;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 86%;
  }
}
.btn {
  background-color: #ffd200;
  padding: 18px 30px;
  font-size: 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.header {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  width: 155px;
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
.info-adress {
  font-size: 13px;
}
.info-phone {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  text-decoration: none;
  margin-top: 9px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.info-btn {
  margin-left: 28px;
}

@media (max-width: 767px) {
  .info-contacts {
    display: none;
  }
}
@media (max-width: 575px) {
  .header {
    padding: 17px 0 18px 0;
    margin: 0;
  }
  .header-logo {
    width: 91px;
    height: 44px;
  }

  .info-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 26px 14px 26px;
    font-size: 10px;
    margin-left: 0;
    border-radius: 5px;
  }

  .main-text__title {
    font-size: 24px;
  }
}
.main {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.main-text__title {
  color: #333333;
  font-size: 41px;
  line-height: 1.34;
  margin-bottom: 40px;
  margin-top: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.main-text__subtitle {
  font-size: 20px;
  margin-bottom: 69px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.main-image {
  width: 570px;
  height: 488px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.46;
  width: 46%;
}
.info__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 1199px) {
  .main-text {
    width: 69%;
  }
  .main-image {
    margin-top: 38px;
  }

  .info__text {
    width: 41%;
  }
}
@media (max-width: 990px) {
  .main-text {
    width: 69%;
  }
  .main-image {
    margin-top: 38px;
  }

  .info__text {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .main-text {
    width: 90%;
  }
  .main-image {
    margin-top: 38px;
    height: auto;
  }

  .info__text {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .main {
    padding: 46px 0 50px 0;
  }
  .main-image {
    margin-top: 38px;
  }
  .main-text__title {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 13px;
    width: 284px;
  }
  .main-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    width: 200px;
  }

  .info {
    margin-bottom: 20px;
  }
  .info__text {
    font-size: 12px;
    width: 200px;
  }
}
@media (max-width: 415px) {
  .main {
    padding: 41px 0 50px 0;
  }
  .main-text__title {
    width: 284px;
  }
  .main-text__subtitle {
    width: 200px;
  }
}
@media (max-width: 375px) {
  .info__image {
    margin-right: 15px;
  }
}
@media (max-width: 321px) {
  .main {
    padding: 41px 0 50px 0;
  }
  .main-image {
    width: 270px;
    height: 231px;
    margin-top: 18px;
  }
  .main-text {
    width: 100%;
  }
  .main-text__title {
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .info__text {
    width: 77%;
    line-height: 1.2;
  }
  .info__image {
    margin-right: 15px;
  }
}
body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
}
